.register {
    *,
    :after,
    :before,
    input {
      box-sizing: border-box;
    }
  
    .page-width {
      max-width: 1300px;
      margin: 0 auto;
    }
  
    .page-width {
      padding: 0 20px;
    }
  
    @media only screen and (min-width: 590px) {
      .page-width {
        padding: 0 40px;
      }
    }
  
    .page-content {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  
    @media only screen and (min-width: 590px) {
      .page-content {
        padding-top: 60px;
        padding-bottom: 60px;
      }
  
      .page-content {
        padding-bottom: 0px !important;
      }
    }
  
    .grid {
      list-style: none;
      margin: 0;
      padding: 0;
      margin-left: -30px;
    }
  
    .grid:after {
      content: "";
      display: table;
      clear: both;
    }
  
    .grid__item {
      float: left;
      padding-left: 30px;
      width: 100%;
      min-height: 1px;
    }
  
    @media only screen and (min-width: 590px) {
      .medium-up--one-third {
        width: 33.33333%;
      }
  
      .medium-up--push-one-third {
        left: 33.33333%;
      }
    }
  
    .grid__item {
      padding-top: 30px;
    }
  
    .grid__item[class*="--push"] {
      position: relative;
    }
  
    header {
      display: block;
    }
  
    .section-header {
      margin-bottom: 30px;
    }
  
    @media only screen and (min-width: 590px) {
      .section-header {
        margin-bottom: 50px;
      }
    }
  
    [data-type_header_text_alignment="true"] .section-header {
      text-align: center;
    }
  
    .form-vertical {
      margin-bottom: 20px;
    }
  
    h1 {
      font-family: var(--typeHeaderPrimary), var(--typeHeaderFallback);
      font-weight: var(--typeHeaderWeight);
      letter-spacing: var(--typeHeaderSpacing);
      line-height: var(--typeHeaderLineHeight);
    }
  
    h1 {
      display: block;
      margin: 0 0 10px;
    }
  
    @media only screen and (min-width: 590px) {
      h1 {
        margin: 0 0 20px;
      }
    }
  
    h1 {
      font-size: calc(var(--typeHeaderSize) * 0.85);
    }
  
    @media only screen and (min-width: 590px) {
      h1 {
        font-size: var(--typeHeaderSize);
      }
    }
  
    .section-header__title {
      margin-bottom: 0;
    }
  
    form {
      margin: 0;
    }
  
    *,
    input {
      box-sizing: border-box;
    }
  
    input {
      font-family: var(--typeBasePrimary), var(--typeBaseFallback);
      font-weight: var(--typeBaseWeight);
      letter-spacing: var(--typeBaseSpacing);
      line-height: var(--typeBaseLineHeight);
      font-size: var(--typeBaseSize);
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust: 100%;
      text-rendering: optimizeSpeed;
    }
  
    input {
      -webkit-appearance: none;
      -moz-appearance: none;
    }
  
    input {
      border: 1px solid;
      border-color: #e8e8e1;
      border-color: var(--colorBorder);
      max-width: 100%;
      padding: 8px 10px;
      border-radius: 0;
    }
  
    input {
      background-color: transparent;
      color: inherit;
    }
  
    .form-vertical input {
      display: block;
      margin-bottom: 30px;
    }
  
    label {
      font-family: var(--typeHeaderPrimary), var(--typeHeaderFallback);
      font-weight: var(--typeHeaderWeight);
      letter-spacing: var(--typeHeaderSpacing);
      line-height: var(--typeHeaderLineHeight);
    }
  
    label {
      font-size: calc(var(--typeBaseSize) * 0.8);
    }
  
    @media only screen and (min-width: 590px) {
      label {
        font-size: calc(var(--typeBaseSize) * 0.88);
      }
    }
  
    label {
      display: block;
      margin-bottom: 10px;
    }
  
    [data-type_header_accent_transform="true"] label {
      text-transform: uppercase;
      letter-spacing: 0.2em;
    }
  
    [data-type_header_accent_transform="true"] label {
      font-size: calc(var(--typeBaseSize) * 0.75);
    }
  
    @media only screen and (min-width: 590px) {
      [data-type_header_accent_transform="true"] label {
        font-size: calc(var(--typeBaseSize) * 0.8);
      }
    }
  
    label[for] {
      cursor: pointer;
    }
  
    input.input-full {
      width: 100%;
    }
  
    p {
      font-family: var(--typeBasePrimary), var(--typeBaseFallback);
      font-weight: var(--typeBaseWeight);
      letter-spacing: var(--typeBaseSpacing);
      line-height: var(--typeBaseLineHeight);
      font-size: var(--typeBaseSize);
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust: 100%;
      text-rendering: optimizeSpeed;
    }
  
    p {
      margin: 0 0 20px 0;
    }
  
    .btn {
      font-family: var(--typeHeaderPrimary), var(--typeHeaderFallback);
      font-weight: var(--typeHeaderWeight);
      letter-spacing: var(--typeHeaderSpacing);
      line-height: var(--typeHeaderLineHeight);
    }
  
    .btn {
      display: inline-block;
      padding: 11px 20px;
      margin: 0;
      width: auto;
      min-width: 90px;
      line-height: 1.42;
      font-size: 16px;
      text-decoration: none;
      text-align: center;
      vertical-align: middle;
      white-space: normal;
      cursor: pointer;
      border: 1px solid transparent;
      -webkit-user-select: none;
      user-select: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      border-radius: 0;
      color: #ffffff;
      color: var(--colorBtnPrimaryText);
      background: #111111;
      background: var(--colorBtnPrimary);
      transition: padding-right 0.3s, background 0.3s, opacity 1s;
    }
  
    .btn--no-animate {
      background-image: none;
      transition: opacity 1s;
    }
  
    .btn--full {
      width: 100%;
      padding: 11px 20px;
      font-size: 16px;
    }
  
    .btn--full {
      background-color: #01bb17 !important;
      color: #ffffff;
    }
  
    input[type="submit"] {
      cursor: pointer;
    }
  
    .form-vertical .btn {
      display: inline-block;
    }
  
    input[type="checkbox"] {
      margin: 0 10px 0 0;
      padding: 0;
      width: auto;
    }
  
    input[type="checkbox"] {
      -webkit-appearance: checkbox;
      -moz-appearance: checkbox;
    }
  
    input:focus {
      border: 1px solid;
      border-color: #1c1d1d;
      border-color: var(--colorTextBody);
    }
  
    .form-vertical input[type="checkbox"] {
      display: inline-block;
    }
  
    html:not(.no-js):not(.tab-outline) :focus {
      outline: none;
    }
  
    a {
      color: #1c1d1d;
      color: var(--colorTextBody);
      text-decoration: none;
      background: transparent;
    }
  
    a:hover {
      color: #1c1d1d;
      color: var(--colorTextBody);
    }
  
    h1 {
      font-size: 35px;
      font-weight: 700;
      text-align: center;
    }
  }
  