
  
  body { 
      margin: 0;
  } 
  
  body { 
      font-family: 'VAG Rounded Std Reqular', 'Arial', 'Helvetica', sans-serif; 
      font-size: 14px; 
      line-height: 1.42857143; 
      color: #19212b; 
      background-color: #ffffff;
  } 
  
  body { 
      min-height: 100%;
  } 
  
  body { 
      overflow-x: hidden; 
      position: relative;
  } 
  
  body { 
      font-family: "VAG Rounded Std Reqular", Tahoma, sans-serif; 
      font-size: 14px; 
      line-height: 22px; 
      color: #407ec9; 
      letter-spacing: 0.065rem;
  } 
  
  html { 
      font-family: sans-serif; 
      -ms-text-size-adjust: 100%; 
      -webkit-text-size-adjust: 100%;
  } 
  
  html { 
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  } 
  
  html { 
      min-height: 100%;
  } 
  
  .pod-yiq { 
      width: 100%; 
      text-align: center; 
      position: relative;
  } 
  
  .pod-yiq:last-child { 
      margin-right: 0%;
  } 
  
  :before,:after { 
      -webkit-box-sizing: border-box; 
      -moz-box-sizing: border-box; 
      box-sizing: border-box;
  } 
  
  .hpP-9fa { 
      width: 22%; 
      display: inline-block; 
      position: relative; 
      border-radius: 10px; 
      box-shadow: 4px 5px 1px #c4dae6; 
      margin-right: 2%; 
      margin-bottom: 2%; 
      overflow: hidden; 
      vertical-align: top;
  } 
  
  .pbc-nqn { 
      background: #FF8200;
  } 
  
  .pbc-3t4 { 
      background: #D9017A;
  } 
  
  .pbc-lcq { 
      background: #00BBDC;
  } 
  
  .pbc-8r1 { 
      background: #981d97;
  } 
  
  .img-m1n { 
      display: block; 
      position: relative;
  } 
  
  .text-jkk { 
      width: 100%; 
      display: inline-table; 
      margin-top: 0; 
      padding: 1%; 
      text-align: center; 
      position: relative; 
      height: 105px;
  } 
  
  a { 
      background-color: transparent;
  } 
  
  a { 
      text-decoration: none;
  } 
  
  a { 
      color: #407ec9;
  } 
  
  .pod-yiq a  { 
      text-decoration: none;
  } 
  
  a:active,a:hover { 
      outline: 0;
  } 
  
  a:hover { 
      color: #154259; 
      text-decoration: underline;
  } 
  
  a:hover { 
      text-decoration: none; 
      color: #498dde;
  } 
  
  h2 { 
      font-family: inherit; 
      font-weight: 500; 
      line-height: 1.1; 
      color: inherit;
  } 
  
  h2 { 
      margin-top: 20px; 
      margin-bottom: 10px;
  } 
  
  h2 { 
      font-size: 30px;
  } 
  
  h2 { 
      font-family: "Baloo Tammudu", "Tahoma Bold", sans-serif; 
      font-size: 30px; 
      line-height: 32px;
  } 
  
  .pod-h99 { 
      margin-top: 0%; 
      margin-bottom: 0%; 
      display: table-cell; 
      vertical-align: middle; 
      text-align: center; 
      color: white; 
      line-height: 1.1; 
      font-size: 19pt;
  } 
  
  img { 
      border: 0;
  } 
  
  img { 
      vertical-align: middle;
  } 
  
  .pod-1gh { 
      width: 100%; 
      display: block;
  } 
  
  .pod-h99 a  { 
      color: white;
  } 
  
  
  